.mainContainer {
    display: grid;
    grid-template-columns: repeat(3,32%);
    gap: 15px;
}
.post {
    flex-grow: 1;
    border: 1px solid #444;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.post:hover {
    background-color: black;
    border: 1px solid #fff;
}

.imageContainer {
    position: relative;
    height: 200px;
}

.image {
    object-fit: cover;
    border-radius: 15px;
}

.content {
    padding: 2%;
}

.title {
    font-weight: 700;
    font-size: 20px;
}

.text {
    font-size: 14px;
    color: #999;
}

